@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: thistle;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body .home {
  background-image: url("/public/images/bg3.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-block; /* Add this line to make the entire li clickable */
  padding: 12px 20px; /* Add padding to the anchor tag for better clickability */
}

nav a:hover {
  color: darkslategray;
  text-decoration: underline;
  color: white;
  background-color: rgba(62, 55, 55, 0.55);
  border-radius: 5px;
}

.connect-button {
  margin-right: 20px;
}

.connect-button button {
  background-color: #5353e0;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  border: 3px solid #5353e0;
  border-radius: 10px;
}

.connect-button button:hover {
  border: 3px solid white;
}

h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 10vh;
  text-decoration: underline;
}

h2 {
  opacity: 77%;
  color: white;
  font-size: 2rem;
  font-weight: lighter;
}

h3 {
  opacity: 77%;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
}

h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: -25px;
  margin-bottom: 50px;
}

.container {
  background-color: rgba(62, 55, 55, 0.77);
  padding: 100px;
  border-radius: 77px;
  max-width: 580px;
  height: 40vh;
  margin: auto;
  margin-top: 10vh;
  border: 1px solid darkgray;
  color: white;
}

.container2 {
  background-color: rgba(62, 55, 55, 0.77);
  padding: 100px;
  border-radius: 77px;
  width: 80vw;
  height: 60vh;
  margin: auto;
  margin-top: 2vh;
  border: 1px solid darkgray;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage {
  background-image: url("/public/images/bg2.jpeg");
  background-color: #33743c;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  opacity: 0.88;
}

.contactPage {
  background-image: url("/public/images/bg.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.cc {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(66, 163, 196);
  padding: 12px;
  border-radius: 22px;
  font-size: 0.88rem;
  color: black;
  font-weight: bolder;
  opacity: 0.77;
  border: 2px solid rgb(66, 163, 196);
}

.cc:hover {
  background-color: rgb(156, 211, 229);
  border: 2px solid black;
}

.loggedInPage {
  background-image: url("/public/images/bg3.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container-grid {
  display: flex;
  justify-content: space-between;
  width: 92vw;
  height: 88vh;
  margin-top: -33px;
}

.container-grid1,
.container-grid2 {
  flex: 1;
  margin: 0;
  font-size: 1.5rem;
  border-radius: 25px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.container-grid3,
.container-grid4 {
  flex: 1;
  margin: 20px 10px;
  border: 1px solid lightgrey;
  border-radius: 88px;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  height: 50vh;
  background-color: rgba(62, 55, 55, 0.77);
  opacity: 0.69;
}

